#page {
  position:relative;
  height: 100vh;
  width: 100vw;
  background-color: white;
}



#search {
width: 70%;
margin-left: 5%;
height:88%;
border-top-left-radius: 24px;
border-bottom-left-radius: 24px; 
border: none;
font-size: 1rem;
}

form {
  /*position: absolute;*/
  border: solid;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  box-shadow: 0 0 6px black;
    height: 5vw;
}

*:focus{
  outline: none;
}

#form {
  margin: ;
  width: 40%;

 
  position: absolute;
    top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

#btn {
  height: 100%;
  width: 17%;
  background-color: black;

   
}
.fas{position: relative;
      top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          color: white;
}

#randombtn {
width: 15%;
  color: white;
  padding-left: %;
  background-color: red;
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
   
}





.input {
  display: inline-block;
  height: 100%;
}
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}

.block {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  margin: 7px;
  cursor: pointer;
  height: auto;
  padding-left: 30px;
  border-left: 10px solid #4c4b4b;
  border-right: 10px solid #4c4b4b;
  border-radius: 5px;
  border-top: 2px solid #4c4b4b;
  border-bottom: 2px solid #4c4b4b;
}

.title{
  font-weight: bold;
  width: 60%;
  font-size: 1.8rem;
}

.description{
  width: 90%;
  text-decoration: underline;

}

.smlblock{
  width:75%;
}

.divImg{
  height::100%; 
  width: 25%;
}

img{width: 100%;}

.block p{
  align-items: justify;
  width: 90%;
  padding: 1% 0;
  padding-left: 1%;
 
  margin:1% 0;
  /*background-color: yellow;*/
}

b{
  font-size: 1.2rem;
}

#results {
  display: none;
  padding: 3px;
  background-color: white;
  border: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: black;
}
.closebutton {
  width: 50px;
  height: 50px;
  padding-bottom: 5px;
  margin: 20px;
  margin-left: 90%;
  margin-top: 1%;
  cursor: pointer;
}

#addedresults {
  margin-top: 30px;
}
